<div class="plant-recipient-links">
  <a><%= link_to 'Add Plant Profile', new_plant_path %></a>
  <a id="pipe2"> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;</a>
  <a><%= link_to 'MMS Recipients', recipients_path %></a>
</div>

<div class="plants">
<h3>Your plants:</h3>
  <% @user.plants.each do |plant| %>
    <div class="plant">
      <div class="name">
        <%= link_to plant.name, plant_path(plant.id) %><br>
      </div>
      <img src="<%= plant.photo_url %>" alt="<%= plant.name %>">
      <h2><%= plant.plant_type %></h2>
      <p>Notify every: <%= plant.stamina %> days</p>
    
      <%= link_to 'Edit', edit_plant_path(plant.id) %>
    </div>
    <% end %>
</div>

<%= link_to '| Log out |', sessions_path, method: :delete, :class => 'logout' %>
