
<div class="recipients-index">
  <div class ="add-recipient">
    <%= link_to "Add Recipient", new_recipient_path %>
  </div>
  <div>Your MMS Recipients:</div>

  <% @user.recipients.each do |recipient| %>
    <%= recipient.name %>&nbsp;&nbsp;&nbsp;
    <%= recipient.phone_num %>&nbsp;&nbsp;&nbsp;
    <%= link_to "Edit", edit_recipient_path(recipient) %>
    <br>
  <% end %>
  <p id="going-home">
    <%= link_to "Home", user_path(current_user) %>
  </p>
</div>