<div class="form">
<div>New Recipient:</div>
<%= form_for @recipient do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :phone_num %> <br>
  <%= f.text_field :phone_num %> <br>
  <br>
    <%= f.submit 'Save', :class => 'button' %>
<% end %>

<%= link_to "Back", recipients_path %> <br>

</div>