<div class="form new-plant">
  <h3> New Plant Profile:</h3>
  <%= form_for @plant do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
    <br>
  
    <%= f.label :photo_url %> <br>
    <%= f.text_field :photo_url %>
    <br>
  
    <%= f.label :plant_type %> <br>
    <%= f.text_field :plant_type %>
    <br>
  
    <%= f.label 'Days between notifications:' %>  <br>
    <%= f.text_field :stamina %>
    <br>
  
    <%= f.submit 'Save', :class => 'button' %> <br>
  
    <%= link_to "Home", user_path(current_user) %>
  
  <% end %>
</div>
