<!DOCTYPE html>
<html>
<head>
  <title>HappyPlant.r</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Happy Plant.r</h1><hr>

<% if current_user %>
  <p>Welcome back, <%= current_user.username %> |
    <%= link_to 'Log out', sessions_path, method: :delete %>
  </p>
<% else %> 
  <p>
    Happy Plant.r sends you sms reminders to water your plants when they are thirsty. You can even add a plant caretaker. It's really easy: <br>
    1) Add a plant and define it's watering frequency.<br>2) Leave your phone on.
    <br>
  </p>
  
<% end%>

<%= yield %>

</body>
</html>
