<!DOCTYPE html>
<html>
<head>
  <title>Happy Plant.r</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="page">
      
    <% if current_user %>
      <h2 class="session-header">Happy Plant.r</h2>
      <div class="welcome-logout">
        <p class="welcome-msg">Welcome back, <%= current_user.username %></p>
      </div>
    <% else %> 
      <div class="landing-page-blurb">
        <h1>Happy Plant.r</h1>
        Receive mms reminders to water your plants when they are thirsty. <br> And send reminders to your plant caretakers too. It's really easy: <br>
        1) Add your plants and define their watering frequencies.<br>
        2) Leave your phone on.<br>
      </div>
    <% end%>
    <%= yield %>
  </div>


</body>
</html>
